.score-time {
position: relative;
top: -45px;
left: 55%;
}
.score-time h5, h6{
    text-align: center;
}

#scorecard {
    position: relative;
    left: 40%;
}

#start-button {
    position: relative;
    left: 35%;
}